.sales {
    &__body {
        @include adaptive-value(padding-top, 26, 20, 1);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__karzinka {
        position: relative;
        cursor: pointer;
    }
    &__count {
        position: absolute;
        background: $buttonColor;
        padding: 3px 7px;
        border-radius: 50%;
        text-align: center;
        right: 0;
    }
    &__btn {
        background: $sidebarColor;
        outline: none;
        border: none !important;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    &__fixed {
        position: fixed;
        width: 297px;
    }
}
.card {
    background: $sidebarColor;
    border-radius: 20px;
    padding: 15px 10px;
    &__top {
        background: $backgroundColor;
        border-radius: 20px;
        width: 225px;
        height: 131px;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        @include adaptive-value(font-size, 16, 14, 1);
        @include adaptive-value(line-height, 19, 16, 1);
        color: $textColor;
        @include adaptive-value(padding-top, 12, 10, 1);
        @include adaptive-value(padding-bottom, 10, 8, 1);
    }
    &__brand {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value(font-size, 14, 12, 1);
        @include adaptive-value(line-height, 16, 12, 1);
        @include adaptive-value(padding-bottom, 8, 6, 1);
        color: $textColor;
    }
    &__quality {
        font-style: normal;
        font-weight: 400;
        @include adaptive-value(font-size, 14, 12, 1);
        @include adaptive-value(line-height, 16, 12, 1);
        @include adaptive-value(padding-bottom, 23, 20, 1);
    }
    &__btn {
        padding-block: 12px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        border-radius: 20px;
        background: $backgroundColor;
        width: 100%;
        &:hover {
            background: #cebef3;
        }
    }
    &__text {
        font-style: normal;
        font-weight: 700;
        @include adaptive-value(font-size, 16, 14, 1);
        @include adaptive-value(line-height, 19, 16, 1);
        color: $textColor;
    }
}

// scroll

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $backgroundColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $buttonColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $backgroundColor;
}

.card__btn .and-btn {
    border: none !important;
}
.ant-btn-default:disabled {
    border-color: red !important;
}
