html,
body {
    background: inherit;
    font-family: "Roboto", sans-serif;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 240px;
}
.ant-spin .ant-spin-dot {
    width: 200px !important;
    height: 200px !important;
}
.ant-spin-dot-item {
    width: 60px !important;
    height: 60px !important;
    background: $buttonColor !important;
}
