html,
body {
    background: inherit;
    font-family: "Roboto", sans-serif;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
}
.mini-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ant-spin .ant-spin-dot {
    width: 80px !important;
    height: 80px !important;
}
.ant-spin-dot-item {
    width: 30px !important;
    height: 30px !important;
    background: $buttonColor !important;
}

.mini-loading .ant-spin .ant-spin-dot {
    width: 40px !important;
    height: 40px !important;
}

.mini-loading .ant-spin-dot-item {
    width: 20px !important;
    height: 20px !important;
    background: $buttonColor !important;
}
.upload {
    color: $textColor;
}
