$sidebarColor: #343743;
$backgroundColor: #272a30;
$buttonColor: #9b74f0;
$textColor: #ffffff;
$sideBarHover: rgba(155, 116, 240, 0.2);
$Hover: #464c58;
$inputColor: #939393;
$priceColor: #369b46;
$buttonHover: #616885;
$trColor: #444858;
