.ant-modal .ant-modal-content {
    background: $sidebarColor;
}
.modal {
    &__main {
        padding: 36px 60px;
    }
    &__title {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        @include adaptive-value(font-size, 22, 20, 1);
        @include adaptive-value(line-height, 28, 24, 1);
        color: $textColor;
        padding-bottom: 26px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex !important;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $textColor;
        padding-bottom: 8px;
    }
    &__btn {
        padding-top: 20px;
    }
}
.ant-form-item-control-input-content {
    display: flex;
    align-items: stretch;
    gap: 12px;
    background: $backgroundColor;
    @include adaptive-value(padding-block, 6, 4, 1);
    @include adaptive-value(padding-inline, 10, 8, 1);
    border-radius: 20px;
    &:hover {
        box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
    }
}

.ant-input {
    background: $backgroundColor;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $textColor;
    &:focus {
        box-shadow: none;
        border: none;
    }
}
.ant-picker {
    background: $backgroundColor;
    border: none;
    font-style: normal;
    font-weight: 400;
    @include adaptive-value(font-size, 12, 10, 1);
    @include adaptive-value(line-height, 14, 12, 1);
    color: $inputColor;
}
.ant-picker .ant-picker-input > input {
    color: $inputColor;
}
.modal__gander_transparent .ant-form-item-control-input-content {
    background: none;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    background: #9b74f0;
    border: 2px solid #9b74f0;
}
.ant-radio-wrapper {
    color: $inputColor;
}
.ant-modal-close-x {
    color: $inputColor;
}
.ant-modal .ant-modal-header {
    background: inherit;
}

.modal__btn .ant-form-item-control-input-content {
    background: none !important;
}

.member-modal__cancel {
    background: none !important;
    border: none !important;
    span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $textColor;
    }
}
.member-modal__create {
    background: $buttonColor;
    border-radius: 20px;
    border: none;
    span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $textColor;
    }
}

.members__select {
    width: 180px !important;
}
.ant-select-arrow {
    color: $textColor !important;
}
.ant-select-selection-placeholder {
    color: $textColor !important;
}

.ant-picker .ant-picker-input span.ant-picker-suffix,
.ant-picker.ant-picker-range span.ant-picker-suffix {
    margin-left: 1px;
    margin-right: 10px;
    order: -1;
}

.ant-input-affix-wrapper:focus {
    box-shadow: none !important;
    border: none;
}

.ant-input-affix-wrapper:hover {
    box-shadow: none !important;
    border: none;
}
.ant-picker:hover {
    border: none;
}
.ant-picker-focused {
    box-shadow: none;
}

.ant-select-selector:hover {
    border: none !important;
}

.ant-select-selector {
    box-shadow: none !important;
}

.modal__radio .ant-form-item-control-input-content {
    box-shadow: none;
}

.sales-drawer__button .ant-form-item-control-input-content {
    box-shadow: none;
}
.member-driver__btn .ant-form-item-control-input-content {
    box-shadow: none;
}

.anticon {
    svg {
        fill: $textColor !important;
    }
}
