.not-found {
    background: $backgroundColor;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__stone {
        position: absolute;
        top: 27%;
        left: 45%;
    }
    &__text {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        color: #e2e2e2;
    }
}