// generals

.label {
    font-style: normal;
    font-weight: 400;
    @include adaptive-value(font-size, 12, 10, 1);
    @include adaptive-value(line-height, 14, 12, 1);
    color: $textColor;
    @include adaptive-value(padding-bottom, 8, 6, 1);
}

.user {
    &__title {
        font-style: normal;
        font-weight: 700;
        @include adaptive-value(font-size, 22, 18, 1);
        @include adaptive-value(line-height, 28, 26, 1);
        color: $textColor;
        @include adaptive-value(padding-bottom, 26, 24, 1);
    }
    &__input {
        display: flex;
        align-items: center;
        gap: 12px;
        background: $sidebarColor;
        border-radius: 20px;
        padding: 6px 10px;
    }
}

.profil {
    &__input {
        display: flex;
        gap: 153px;
    }
    &__btn {
        display: flex;
        justify-content: end;
    }
}

.profil__btn .ant-form-item-control-input-content:hover {
    box-shadow: none !important;
}
.user__item .ant-form-item-control-input-content {
    background: $sidebarColor;
}
.user__item .ant-input-affix-wrapper {
    background: $sidebarColor !important;
}
.user__item .ant-input {
    background: $sidebarColor;
}
.user__item .ant-input-affix-wrapper:focus {
    border: none !important;
}
.user__item .ant-input-affix-wrapper:hover {
    border: none !important;
}
